/* styles.css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 20px;
}

/* Estilo para os produtos */
.produto {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(50% - 20px); /* 50% do tamanho do container menos margem */
    display: inline-block; /* Para exibir lado a lado */
    vertical-align: top; /* Alinha os produtos ao topo */
    box-sizing: border-box; /* Considerar padding e borda no cálculo da largura */
    background-color: #f9f9f9; /* Cor de fundo para destacar produtos */
}

.produto img {
    width: 100%; /* Imagens ocupam toda a largura do container */
    height: 400px;
    max-width: 100%; /* Imagens não podem ultrapassar a largura do container */
    max-height: 400px; /* Altura máxima para as imagens */
}

.produto h2 {
    margin-top: 0;
}

.produto p {
    margin-bottom: 10px; /* Adicionando espaço entre a descrição e o botão */
}

.produto button {
    background-color:  rgb(77, 210, 243);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    display: block; /* Transformando o botão em um bloco */
    margin-top: 10px; /* Adicionando espaço acima do botão */
}

.produto button:hover {
    background-color: rgba(144, 225, 245, 0.863);
}

/* Limpar margens dos produtos no último item da linha */
.produto:nth-child(2n) {
    margin-right: 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #86c8ff;
    width: 100%;
    background-color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.navigation .logo {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
}

.logo span {
    color:  rgb(77, 210, 243);
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style-type: none;

}

.navigation ul li a {
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all 0,5s;
    text-decoration: none;
    display: inline-block;
}

.navigation ul li a:hover {
    color: rgb(144, 225, 245);
    transform: scale(1.05);
}



.menu {
    cursor: pointer;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    margin: 5px auto;
    color: black;
}

header .contato button{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color:  rgba(144, 225, 245, 0.863);
    border: 0px;
    border-radius: 30px;
    display: inline-block;
    transition: .2s;
    cursor: pointer;
}

header .contato button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 6px  rgba(0, 204, 255, 0.712);
}